/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

*:focus {
  outline: none;
}

input[type=button], input[type=submit] {
  -webkit-appearance: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 800;
}
body h1 {
  font-size: 38px;
  line-height: 1.1em;
  margin-bottom: 30px;
}
body h2 {
  font-size: 32px;
  line-height: 1.1em;
  margin-bottom: 30px;
}
body h3 {
  font-size: 21px;
  line-height: 1em;
  margin-bottom: 15px;
}
body h4 {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 20px;
}
body h5 {
  font-size: 13.28px;
  line-height: 1em;
  margin-bottom: 22px;
}
body h6 {
  font-size: 10.72px;
  line-height: 1em;
  margin-bottom: 37px;
}
body p {
  line-height: 1.6em;
  margin-bottom: 15px;
}
body p strong, body p b {
  font-weight: 600;
}
body p em, body p i {
  font-style: italic;
}
body.locked {
  overflow: hidden;
}
body .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}